body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;

}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* main-header */

.main-header {
  min-height: 320px;
  margin-bottom: 59px;
  background-color: #f4f7f9;
}

.navbar .container {
  display: flex;
}

.navbar {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.header-logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.search input {
  width: 270px;
  height: 42px;
  background-color: transparent;
  border: none;
  outline: none;
}

.search input:focus {
  background-color: #ffffff;
}

.menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  width: 150px;
  text-align: center;
}

.menu-item a {
  color: #ffffff;
}

.menu-item a:hover {
  background-color: #212a3a;
}

.menu-item a:active {
  background-color: #161d29;
}

.order {
  width: 150px;
  color: #ffffff;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.slogan {
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.contacts {
  width: 265px;
}

.phone {
  border: 3px solid #ffffff;
}

.phone-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-login a:hover {
  color: #ee3643;
}

.user-login a:active {
  color: #b2b2b2;
}

.name a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.name a:active {
  color: #c5c5c5;
}

.cabinet a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.cabinet a:hover {
  color: #ee3643;
}

.cabinet a:active {
  color: #c5cad0;
}

/* navigation */

.main-nav {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav a {
  color: #ffffff;
}

.site-nav a:hover {
  background-color: #293449;
}

.site-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* main-index */

/* promo */

.promo h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: black;
  /*#ffffff*/
}

.promo a {
  font-size: 14px;
  line-height: 18px;
  color: black;
  /*#ffffff*/
}

.promo-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* slider */

.slider-wrap {
  display: flex;
}

.slider-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-promo h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.slider-promo p {
  font-size: 18px;
  line-height: 24px;
  color: black;
  /*#ffffff*/
}

.slider-promo .btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

/* popular */

.popular {
  display: flex;
  justify-content: space-between;
}

.popular h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.popular .popular-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-list .catalog-item:last-child {
  margin-right: 0;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
}

.manufacturers-list a:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-list a:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item {
  width: 218px;
  border: 1px solid #eaeaea;
}

/* services */

.services {
  background-color: #f4f7f9;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
}

.services h4 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services .btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
}

/* info */

.info .container {
  display: flex;
  justify-content: space-between;
}

.info h2 {
  font-size: 30px;
  line-height: 30px;
}

.about-company {
  width: 540px;
}

.tagline {
  width: 520px;
}

.about-company ul {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.info-contacts {
  width: 300px;
}

.info-contacts .tagline {
  width: 180px;
}

.info .btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

/* main-catalog */

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list a {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.title {
  background-color: #f2f6f8;
}

.title h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.goods-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter {
  background-color: #f7f3ec;
}

.filter span {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.price input {
  background-color: #f7f3ec;
  border: none;
}

fieldset ul {
  list-style: none;
}

.sorting {
  display: flex;
  width: 700px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting ul {
  display: flex;
  list-style: none;
}

.sorting-list a {
  color: #b2b2b2;
  border-bottom: 1px dotted #ee3643;
}

.sorting-list a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-list a:active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-list .active-link,
.sorting-list .active-link:active {
  color: #ee3643;
  border-bottom: none;
}

/* catalog */

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 218px;
  margin-bottom: 21px;
  margin-right: 22px;
  font-family: 'PT Sans', sans-serif;
}

/* Почему не срабатывает?
.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
} */


.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-item del {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
}

.catalog-item p {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  /* #ffffff */
}

/* filters */

.filters {
  width: 220px;
}

.filters fieldset {
  border: none;
}

fieldset legend {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

fieldset .filter-item {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.active {
  background-color: #ee3643;
}

.pagination-list a {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.about-perforators {
  background-color: #f4f7f9;
}

.about-perforators h2 {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-perforators p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* footer */

footer {
  background-color: #32425c;
}

.footer-top .container {
  display: flex;
}

.footer-contacts p {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-logo {
  width: 220px;
  height: 63px;
  background-color: #ee3643;
}

.footer-bottom {
  background-color: #293449;
}

.footer-list {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.footer-list a {
  color: #f1f5f7;
}

.footer-list a:hover {
  text-decoration: underline;
}

.footer-list-top a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-list-bottom a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-list-bottom a {
  color: #ffd180;
}

.footer-bottom .container {
  display: flex;
}

.copyright {
  width: 240px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social {
  margin: 0;
  width: 165px;
  list-style: none;
}

.communication-list {
  margin: 0;
  list-style: none;
}

.communication-item:nth-child(1) {
  width: 210px;
}

.communication-item:nth-child(2) {
  width: 135px;
}

.communication-item {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.communication a {
  display: block;
  color: #ffd180;
}

.communication a:hover {
  text-decoration: underline;
}

.communication a:active {
  color: #ee3643;
}

/* Модальные окна */

.modal {
  display: none;
}

.modal-feedback label {
  font-size: 18px;
  line-height: 18px;
}

.feedback input,
.feedback textarea {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #d7dcde;
  outline: none;
}

.feedback input:hover {
  border: 2px solid #b5b5b5;
}

.feedback input:focus {
  border: 2px solid #ee3643;
}

.modal-add-to-cart h3 {

  font-size: 30px;
  line-height: 30px;
}

.modal-link {
  background-color: #f1f1f1;
}

.modal-link a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
